/**
 * GENERAL
 */
html {
	box-sizing: border-box;

}
*, *:before, *:after {
	box-sizing: inherit;
}
body,html{
    margin: 0 auto;
    width:100%;
    height:auto;
    background-color:#ffffff;
    
}

    

/* clearfix */
.group:before,
.group:after { content: " "; display: table; }
.group:after { clear: both; }


/*HEADER*/
header{
    margin-bottom: 8em;
    background: #5a965a;
    background: linear-gradient(180deg,rgba(90, 150, 90, 1) 0%, rgba(255, 255, 255, 1) 100%);
    position:sticky;
    top:0px;
    z-index: 10;
    height:auto;
}


ul{
    width:100%;
    padding:0;
    margin:0;
}

header li{
    list-style:none;
    width:auto;
    float:left;
    text-align: center;
    padding:.5em;
    margin:2em 0 2em 10em;
}

header a{
    text-align: center;
    font-size: 1em;
    font-family: "Arimo", sans-serif;
    text-decoration: none;
    color:black;
    font-weight: 800;
}

/*animovaný border*/
header a{
    background: linear-gradient(#5a965a) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
    color: #5a965a;
    display: inline-block;
    padding: 0 .5em 0.2em;
    text-decoration: none;
    transition: background-size 0.5s;
}

header a:hover {
  --underline-width: 100%;
}

header li:first-child{
    margin-left: 8em;
}

/*POST HEADER*/

.post_header{
    width:100%;
    height:10em;
}

.sticky{
    height:55em;
}

.post_header h2 {
    width:13em;
    font-family: "Arimo", sans-serif;
    font-weight:900;
    font-size:5em;
    letter-spacing:.5px ;
    color:black;
    margin-left: 1em;
    margin-bottom: 30px;
   
}

/* pohyblivy spodny ram*/

.moving_border_container{
    height: .2em;
    width:60em;
    margin-left: 5.5em;
    margin-bottom: 30px;

}
.border{
    width:1.2em;
    height:.2em;
    background-color: #5a965a;
    position: relative;

}
@keyframes anime{
0% {top:0em ; left:0em }
50% {top:0em; left:60em}
100% {top:0em; left:0em}

}


.anime{
    animation-duration: 3s;
    animation-name: anime;
    animation-iteration-count: infinite;
}



.vitae{
    color:#5a965a;
}

.image-hover {
    position:absolute;
    width:20em; 
    height:20em; 
    background-image: url('img/Ja.jpg'); 
    background-size: cover; 
    transition: background-image 0.1s ease-in-out; 
    right:17.5em;
}

.image-hover:hover {
    background-image: url('img/ja_vianoce.jpg'); 
}

/*MAIN*/
.container_main{
    width:100%;
    height:auto;
}

.o_mne H1{
    font-family: "Arimo", sans-serif;
    font-weight: 800;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-left: 1.8em;
}

.o_mne{
    float:left;
    box-shadow: 1em 1em 3em #5a965a;
    margin:0 0 0 3em;
    width:45em;
    border:1px solid #bed8b3;
}

.o_mne p{
    padding:.5em 3em .5em 3em;
    font-size: 1.2em;
    font-family: "Arimo", sans-serif;
    font-weight: 200;
    color:black;
}


.o_mne p:last-child{
    padding-bottom: 2em;
}

/*O MNE*/


.side_1{
    color:black;
    font-family: "Arimo", sans-serif;
    font-size: 1.2em;
    
    padding: 0 1em;
    margin-right: 1.5em;
    margin-bottom: 2em;
    width:22em;
    height:auto;
    float:right;
    box-shadow: 1em 1em 3em  #5a965a ;
}

h2{
    color:#5a965a;
    font-weight: 800;
}

h1{
    color:#5a965a;
}

/*VZDELANIE*/

.side_2{
    color:black;
    font-family: "Arimo", sans-serif;
    font-size: 1.2em;
    
    padding: 0 1em;
    margin-right: 1.5em;
    margin-bottom:2em;
    width:22em;
    height:auto;
    float:right;
    box-shadow: 1em 1em 3em  #5a965a ;
}

.side_2 p{
    margin-bottom: 1.5em;
}

/*JAZYKY*/

.side_3{
    color:black;
    font-family: "Arimo", sans-serif;
    font-size: 1.2em;
    
    padding: 0 1em;
    margin-right: 1.5em;
    width:22em;
    height:auto;
    float:right;
    box-shadow: 1em 1em 3em  #5a965a ;
}

.side_3 .italic{
    display:block;
    margin-bottom: .15em;
}

/*ÚPRAVA TEXTU PRÁCA*/

.italic{
    font-style: italic;
    font-size: .9em;
}

.bold{
    font-weight: 600;
}

.rok{
    font-size: .7em;
    font-weight: 200;
}

/*PRACOVNÉ SKÚSENOSTI*/

.container_práca{
    width:100%;
    height:auto;
}

.side_4{
    color:black;
    font-family: "Arimo", sans-serif;
    font-size: 1.2em;

    float:left;
    padding: 1em 0em 2em 3.5em;
    margin:2em 2em 4em 2.5em;
    width:94%;
    height:auto;
    box-shadow: 1em 1em 3em  #5a965a ;
}

.side_4 h2{
    font-size: 2em;
    margin-bottom: 1.5em;
}

.side_4 .italic{
    font-style: italic;
    font-size: .9em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #5a965a;
}

.container_4{
    width:15em;
    height:4.5em;
    float:left;
    margin-bottom: .5em;
    margin-right: 3em;
}



.back_to_top{
    color:white;
    background-color: #5a965a;
    position: relative;
    bottom: 8em;
    right: 5em;
    z-index: 5;
    display: block;
    opacity:.6;
    height:2em;
    width:4em;
    text-decoration: none;
    text-align: center;
    padding-top: .4em;
    border-radius: .2em;
}

.back_to_top:hover
{
    opacity:1;
    transition: .5s;
   
}



/*FOOTER*/

footer{
    font-family: "Arimo", sans-serif;
    font-size: 1.2em;

    position: relative;
    width:100%;
    height:6em;
    background: #5a965a;
    background: linear-gradient(0deg,rgba(90, 150, 90, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

footer img{
    width:1.3em;
    height:1.3em;
    margin-top:.1em;
    padding-top: .3em;
   padding-right: .2em;
}

footer li{
    width:15em;
    margin: 0 auto;
    height:3em;
    text-align: center;
    position: absolute;
    text-decoration: none;
    list-style: none;
}

footer a{
    text-decoration: none;
    color: black;
}

li:nth-child(1){bottom:.2em; right:1em;}
li:nth-child(2){bottom:2em; right:3em;}
li:nth-child(3){bottom:.2em;right:14em;}
li:nth-child(4){bottom:2em;right:13.5em;}

footer p{
    font-size:.7em;
    font-family: "Arimo", sans-serif;
    font-style: italic;
    position:absolute;
    bottom:.2em;
    left:.5em;
}


@media screen and (max-width: 1230px)
{
header{
    height:5em;
}
header li{
    
    padding:0;
    margin-left: 0;
    min-width: 25%;
}
header a{
    padding:0;
    width:auto;
}
header li:first-child{
    margin-left:0;
}
    .o_mne{
    float:none;
    width:45em;
    border:2px solid #bed8b3;
    margin:0 auto;
    margin-bottom: 2em;
}
 .image-hover{
      display:none;
        
    }

    .sticky{
    height:22em;
}

.side_1{
    float:left;
    width:33%;
    margin-right: .49%;
}

.side_2{
    float:left;
    width:33%;
    margin-right: .50%;
}

.side_3{
    float:left;
    width:33%;
    margin:0;
}

.side_4{
    margin:0 auto;
    float:none;
    margin-top: 3em;
}
.pre_footer a{
    float:left;
    margin-left: 1.5em;
    margin-top: 1.5em;
}

}

@media screen and (max-width: 1010px)
{
    .post_header{
        height:auto;
    }

    .post_header h2{
        margin:0 auto;
        font-size: 4em;
        font-weight: 300;
        text-align: center;
        border:none;
    }
}

@media screen and (max-width:900px)
{
header li{
    font-size:.8em;
    width:25%;
}

}



@media screen and (max-width:820px)
{
    .side_4{
        padding:0;
    }

    .side_4 h2{
        float:none;
        margin:0 auto;
        text-align: center;
        margin-top: 1em;
        
    }
    .container_4{
        margin: 0 auto;
        width:100%;
       text-align: center;
    }

    .post_header h2{
        font-size: 3em;
    }

    
}

@media screen and (max-width:760px)
{
    .o_mne p{
        font-size:1em ;
        padding:1em;
        width:auto;
    
    }
    .o_mne{
        height:auto;
        width:auto;
        margin:0 .5em 0 .5em;
    }

    .o_mne h1{
       
        padding-left: .5em;
    }
}

@media screen and (max-width:685px) {
    footer p{
        bottom:0;
    }
    footer {
        font-size:.8em ;
    }

    .post_header h2{
        font-size: 2em;
    }
    .sticky{
        height:20em;
    }

    .side_4 h2{
        font-size: 1.3em;
    }
}

@media screen and (max-width:600px) 
{
    aside h2{
                font-size:1em;
            }
    
    .asides p{
        font-size: .8em;
    }

}




